body {
  background-color: black;
}

.container {
  background-color: black;
  padding-top: 20px;
  padding-bottom: 10px;
}

header {
  margin: 0 auto 20px;
  text-align: center;
  font-family: "Alfa Slab One", cursive;
  text-transform: uppercase;
}

.spacing {
  letter-spacing: 10px;
}

header h1 {
  display: inline;
  background-color: black;
  color: red;
}

.master {
  background-color: red;
  color: black;
}

.location {
  color: whitesmoke;
  margin: auto;
  padding: 20px 0;
}

.btn {
  color: whitesmoke;
  background-color: black;
  border-bottom: 2px solid red;
}

#eventBox {
  margin: auto;
  width: 100%;
  padding: 20px;
}

#eventBox h3 {
  text-align: center;
  margin-top: 45px;

}

.evImg {
  max-width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.selected {
  background-color: gray;
  color: black;
}

.btn:hover {
  background-color: red;
  color: black;
  cursor: pointer;
}

.searchBtnContainer {
  margin: auto;
}

.searchBtn {
  background-color: rgb(48, 48, 48);
  background-color: red;
}

.bottomBreakLine {
  height: 2px;
  background-color: red;
  margin: 10px auto;
  width: 90%;
}

.details {
  display: inline;
}

.evItem {
  width: 90%;
  margin: auto;
  background-color: white;
}

.evDetail {
  margin-top: 5px;
}

.evDetail p {
  margin: 0 auto;
  font-weight: bold;
}


.spinner {
  margin: 50px auto;
  background-image: url(./src/img/spinner.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
}

.white-bg {
  background-color: white;
  height: 195px;
}
